{
  "extends": ["react-app", "airbnb", "prettier", "prettier/react"],
  // "plugins": ["prettier"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": 0,
    "max-len": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off"
  }
}
