body {
  font-size: 13px !important;
  font-family: 'Spartan', sans-serif;
}

button {
  font-family: 'Josefin Sans', sans-serif !important;
}

#dates {
  padding: 4px 0 0 5px !important;
  font-size: 13.7px !important;
}

.ui.form,
.ui.header,
.ui.input > input,
.ui.form textarea,
.ui.message {
  line-height: 1.46 !important;
  font-family: 'Spartan', sans-serif !important;
}

.ui.button,
.ui.basic.button {
  border-radius: 0;
  border: 1px solid #315322;
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
}

.ui.input > input,
.ui.form input,
.ui.form textarea {
  border-radius: 0 !important;
}

.ui.basic.button {
  color: #555 !important;
}

.ui.button.active,
.ui.basic.active.button,
.ui.button:hover,
.ui.basic.button:hover,
.ui.button.primary {
  background-color: #315322 !important;
  color: #fff !important;
}

.ui.button.primary:hover {
  background-color: #000 !important;
  transform: scale(1.1);
  border: 1px solid #000;
}

.ui.small.button {
  font-size: 14.5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-column .ui.button {
  margin-bottom: 4px;
}

.left-aligned {
  display: flex;
  justify-content: flex-end;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-header a {
  color: #fff;
}

.site-header {
  height: 80px;
  width: 100%;
  margin: 0;
  background-color: #172c49;
  display: flex;
  flex-grow: 0;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem 0;
  flex-wrap: wrap;
  color: #fff;
}

.site-header .footer {
  flex-grow: 0;
}

.header-title {
  text-transform: uppercase;
  margin: 0;
}

.ui.selection.dropdown {
  min-height: 28px !important;
  padding: 0.5em !important;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.ui.selection.dropdown .menu > .item {
  padding: 0.5em !important;
}

.ui.accordion .accordion .title,
.ui.accordion .title {
  padding: 0 !important;
  margin: 1em 0 0 0 !important;
}

.ui.message {
  padding: 0.7em !important;
}

.ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui),
.ui.accordion:not(.styled) .title ~ .content:not(.ui) {
  padding: 0.2em !important;
}

.ui.grid.extra-persons > .row {
  align-items: center;
  margin-bottom: 3px;
  min-width: 100%;
}

.ui.grid.extra-persons > .row > .column .field {
  margin: 0;
}

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  padding: 0.5em !important;
}

.ui.search.selection.dropdown > input.search {
  min-height: 28px !important;
  padding: 0.5em !important;
}

.ui.checkbox .box,
.ui.checkbox label {
  font-size: 13px !important;
}

.ui.grid {
  margin: 0 !important;
}

.ui.grid > .row {
  padding: 0 !important;
}

.ui.grid > .column {
  padding: 0 !important;
}

h3.ui.header {
  font-size: 15.7px !important;
}

h4.ui.header {
  font-size: 14px !important;
}

h5.ui.header {
  font-size: 12.3px !important;
}

.ui.popup {
  padding: 0.6em !important;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled {
  opacity: 1 !important;
}

.ui.grid > .row > .column {
  padding: 0 !important;
}

.ui.grid > .row:first-child {
  padding: 0 !important;
}

.ui.grid > .row:last-child {
  padding: 0 0 0.5em 0 !important;
}

.ui.header {
  margin: 0.8em 0 0.4em 0;
}

.ui.form .field {
  margin: 0.3em 0;
}

p {
  margin: 0.1em 0 !important;
}

.ui.form textarea {
  height: 28px;
  padding: 4px;
}

.ui.input input {
  height: 30px !important;
  padding: 0.5em !important;
}

.ui.table.activity-list td {
  height: 38px !important;
}

.ui.grid.extra-persons.private-acommodation > .row > .column {
  max-width: 60%;
}
.private-acommodation .pricing-header {
  color: #666;
}
.private-acommodation .ui .label {
  padding: 0.5em !important;
  height: 30px;
}

.private-acommodation .cottage-selector {
  width: 30%;
}
