

.ui.selection.dropdown {
  min-height: 28px !important;
  padding: 0.5em !important;
}

.ui.selection.dropdown .menu>.item {
  padding: 0.5em !important;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  padding: 0.5em !important;
}

.ui.search.selection.dropdown>input.search {
  min-height: 28px !important;
  padding: 0.5em !important;
}

.ui.header {
  margin: 0.8em 0 0.4em 0;
}

.ui.form .field {
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

p:first-child {
  margin: 0.5em 0;
}


.ui.form textarea {
  height: 28px;
  padding: 4px;
}

.ui.input input {
  height: 30px !important;
  padding: 0.5em !important;
}

.ui.table.activity-list td {
  height: 38px !important;
}
